/* **********************************************
Basic mechanics
Hide all paragraphs by default
Show them when they receive the class 'on'
Hide them when they receive the class 'off'
Feel free to adjust the defaults to your needs.
********************************************** */

#closed-captions{
    position: absolute;
    left: 45%;
    width: 100%;
    top: 40%;
    z-index: 100;
}

#closed-captions p {
	opacity: 0;
	transition: .05s;
	position: absolute;
    top: -90px;
    color: white;
    z-index: 1;
}
#closed-captions .on {
	opacity: 1;
    
}
#closed-captions .off {
	transition: .2s;
	opacity: 0;
}
.voice1 {
	font-style: italic;
    color: white;
}

.voice2 {
    color: white;
}

body{
    background-color: black;
    margin: 0 auto;
}

.item-1{
    justify-self:center;
  
}

.item-4{
    margin-left: 70px;
}

.container{
    display: grid;
    grid-template-columns: 1fr 50% 1fr;
    grid-template-rows: minmax(100px, auto);
    
}

.sound1 .item-2{
    z-index: 30;
    background-image: url(https://i.gifer.com/7VUL.gif);
    background-repeat: no-repeat;
    margin-top: 70px;
    margin-left: 260px;
}

.sound2 .item-2 {
    background-image: none;
}

.sound1 iframe{
    animation: bobbelen 1s;
}

@keyframes bobbelen {

0% {
    transform: rotate(-5deg);
}
10% {
    transform: rotate(5deg)
}
20% {
    transform: rotate(-5deg)
}
30% {
    transform: rotate(5deg)
}
40% {
    transform: rotate(-5deg);
}
50% {
    transform: rotate(5deg)
}
60% {
    transform: rotate(-5deg)
}
70% {
    transform: rotate(5deg)
}
80% {
    transform: rotate(-5deg);
}
90% {
    transform: rotate(5deg)
}
100% {
    transform: rotate(-5deg)
}
}

.sound3 iframe{
    animation: sound3 1s;
}

@keyframes sound3 {

  10%, 90% {
    transform: translate3d(-10px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(10px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-10px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(10px, 0, 0);
  }
}

.sound4 iframe{
    animation: sound4 1s;
}

@keyframes sound4{
    0%{
        background-color: black;
    }
    50%{
        background-color: red;
    }
    100%{
        background-color: black;
    }
}

.sound4 iframe{
    animation: sound4 1s;
}

@keyframes sound4{
    0%{
        background-color: black;
    }
    50%{
        background-color: red;
    }
    100%{
        background-color: black;
    }
}

/* **********************************************
The first paragraph, with extended timing for 
	all siblings. Basically what it does is that
	it shows the text after a delay, which 
	corresponds with the time that the word is
	spoken.
You probably want to change the styling.
********************************************** */
.p0 span {
	opacity: 0;
/*	font-family: brenner;*/
}
.p0.on span:first-of-type {
	opacity: 1;
	transition: 0s;
	font-weight: 200;
}
.p0.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0s .4s;
	margin-right: -.25em;
	font-weight: 400;
}
.p0.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0s .5s;
	margin-right: -.25em;
	font-weight: 600;
}
.p0.on span:nth-of-type(4) {
	opacity: 1;
	transition: 0s .7s;
	margin-right: -.25em;
	font-weight: 800;
}
.p0.on span:nth-of-type(5) {
	opacity: 1;
	transition: 0s 1.1s;
	margin-right: -.25em;
/*	font-family: "brenner sans";*/
}
.p0.on span:nth-of-type(6) {
	opacity: 1;
	transition: 0s 1.4s;
	margin-right: -.25em;
/*	font-family: "brenner display";*/
}
.p0.on span:nth-of-type(7) {
	opacity: 1;
	transition: 0s 1.7s;
	margin-right: -.25em;
/*	font-family: "brenner script";*/
}
.p0.on span:nth-of-type(8) {
	opacity: 1;
	transition: 0s 2s;
/*	font-family: "brenner script";*/
}
.p0.on span:nth-of-type(9) {
	opacity: 1;
	transition: 0s 3s;
/*	font-family: "brenner Sans condensed";*/
}
.p0.on span:nth-of-type(10) {
	opacity: 1;
	transition: 0s 3.2s;
/*	font-family: "brenner mono";*/
}
.p0.on span:nth-of-type(11) {
	opacity: 1;
	transition: 0s 3.7s;
/*	font-family: "brenner slab";*/
}

/*BRON HEART RATE: https://codepen.io/Danos/pen/vMKMMg*/

.heart-rate {
    width: 100vw;
  height: 73px;
  margin: 100px auto;
}

.fade-in {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  top: 0;
  right: 0;
  animation: heartRateIn 2.5s linear infinite;
}

.fade-out {
  position: absolute;
  width: 120%;
  height: 100%;
  top: 0;
  left: -120%;
  animation: heartRateOut 2.5s linear infinite;
  background: rgba(255, 255, 255, 1);
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
  background: -o-linear-gradient(left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
  background: -ms-linear-gradient(left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%);
}

@keyframes heartRateIn {
  0% {
    width: 100%;
  }
  50% {
    width: 0;
  }
  100% {
    width: 0;
  }
}

@keyframes heartRateOut {
  0% {
    left: -120%;
  }
  30% {
    left: -120%;
  }
  100% {
    left: 0;
  }
}

iframe{
    z-index: 20;
    padding-left: 2em;
    padding-top: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
}

.ritmegeen{
    position: absolute;
    bottom: 1px;
}

.ritmewel{
    opacity: 0;
}

.sound8 .ritmewel{
    opacity: 1;
}

.sound8 .ritmegeen{
    opacity: 0;
}

.sound10 .ritmewel{
    opacity: 0;
}

.sound10 .ritmegeen{
    opacity: 1;
}

.sound11 .ritmewel{
    opacity: 1;
}

.sound11 .ritmegeen{
    opacity: 0;
}

.sound13 .ritmewel{
    opacity: 0;
}

.sound13 .ritmegeen{
    opacity: 1;
}

.p6.on {
    color: red !important;
	-webkit-animation: text-blur-out 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-blur-out 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    
}

.p8.on {
    font-size: 100px;
    -webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.p9.on {
    font-size: 100px;
    -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    
}

.p11.on {
    font-size: 100px;
    -webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    
    
}

.p12.on{
    font-size: 100px;
    -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}

.p14.on  {
    font-size: 100px;
    -webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    
}

.p15.on  {
    font-size: 100px;
    -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    
}

.p17.on {
    font-size: 100px;
    -webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    
    
}

.p18.on {
    font-size: 100px;
    -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}

.p19.on {
    font-size: 100px;
    -webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    
}

.p20.on {
    font-size: 100px;
    -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}

.p14.on {
    font-size: 100px;
    -webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    
}

.p15.on {
    font-size: 100px;
    -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    
}

.p17.on {
    font-size: 100px;
    -webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    
}

.p18.on {
    font-size: 100px;
    -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}

.p22.on {
    font-size: 100px;
    -webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    
}

.p23.on {
    font-size: 100px;
    -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}

.p25.on {
    font-size: 100px;
    -webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    
}

.p26.on {
    font-size: 100px;
    -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}

.p28.on {
    font-size: 100px;
    -webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    
}

.p29.on {
    font-size: 100px;
    -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}

.p31.on {
    font-size: 100px;
    -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}

.p33.on {
     font-size: 100px;
    -webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}

.p34.on {
    font-size: 100px;
    -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}

.p36.on {
     font-size: 100px;
    -webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}

.p37.on {
    font-size: 100px;
    -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}

.p38.on {
    -webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}

.p39.on {
    -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}

.p41.on {
    font-size: 20px;
	-webkit-animation: text-focus-in 3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;

}

.p42.on {
    font-size: 25px;
	-webkit-animation: text-focus-in 3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;

}

.p43.on {
    font-size: 30px;
	-webkit-animation: text-focus-in 3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;

}

.p48.on {
    font-size: 100px;
    -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}

.p49.on {
    font-size: 100px;
    -webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    
}

.p51.on {
    font-size: 100px;
    -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    
}

.p53.on {
    font-size: 100px;
    -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    
}

.p55.on {
    font-size: 100px;
    -webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    
}

.p56.on {
    font-size: 100px;
    -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    
}

.p57.on {
    font-size: 30px;
	-webkit-animation: focus-in-contract-bck 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    
}

.p58.on {
    font-size: 30px;
	-webkit-animation: focus-in-contract-bck 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    
}

.p59.on {
    font-size: 30px;
	-webkit-animation: text-blur-out 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-blur-out 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    
}

.p60.on {
    font-size: 30px;
	-webkit-animation: text-blur-out 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-blur-out 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    
}

.p62.on {
    font-size: 30px;
	-webkit-animation: text-blur-out 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-blur-out 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    
}

.p64.on {
    font-size: 40px;
	-webkit-animation: text-blur-out 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-blur-out 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    
}

.p65.on {
    font-size: 50px;
	-webkit-animation: text-blur-out 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-blur-out 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    
}

.p66.on {
    font-size: 50px;
	-webkit-animation: text-blur-out 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-blur-out 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    
}

.p67.on {
    font-size: 100px;
	-webkit-animation: text-blur-out 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-blur-out 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    
}

.p68.on {
    font-size: 100px;
	-webkit-animation: text-blur-out 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-blur-out 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    
}

.p69.on {
    font-size: 30px;
    -webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    
}

.p70.on {
    font-size: 30px;
    -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.p71.on {
    font-size: 30px;
	-webkit-animation: text-blur-out 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-blur-out 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    
}

.p72.on {
    font-size: 30px;
	-webkit-animation: text-blur-out 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-blur-out 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    
}

.p79.on {
    font-size: 30px !important;
    
}

.p73.on {
    font-size: 30px;
	-webkit-animation: text-blur-out 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-blur-out 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    
}

.p74.on {
    font-size: 30px;
	-webkit-animation: text-blur-out 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-blur-out 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    
}

.p75.on {
    font-size: 30px;
	-webkit-animation: text-blur-out 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-blur-out 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    
}

.p76.on {
    font-size: 30px;
	-webkit-animation: text-blur-out 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-blur-out 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    
}

.p77.on {
    font-size: 30px;
	-webkit-animation: tracking-out-expand-fwd-bottom 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: tracking-out-expand-fwd-bottom 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    
}

.p78.on {
    font-size: 30px;
	-webkit-animation: tracking-out-expand-fwd-bottom 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: tracking-out-expand-fwd-bottom 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    
}

.voice3{
    font-family: "brenner sans";
}

.voice1{
    font-family: "brenner mono";
    font-style: italic;
    font-size: 15px !important;
}

.voice2{
    font-family: "brenner mono";
    font-size: 15px;
}

.voice4{
    font-family: "brenner mono";
    font-size: 15px;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-5-22 22:7:6
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2019-5-22 22:12:0
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2019-5-22 22:16:17
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2019-5-22 22:49:5
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */


/* ----------------------------------------------
 * Generated by Animista on 2019-5-22 23:29:13
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-out
 * ----------------------------------------
 */
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2019-5-22 23:33:47
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/* ----------------------------------------------
 * Generated by Animista on 2019-5-22 23:51:54
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(2px);
            filter: blur(2px);
    opacity: 1;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 0;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(2px);
            filter: blur(2px);
    opacity: 1;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 0;
  }
}

    /* ----------------------------------------------
 * Generated by Animista on 2019-5-23 9:18:8
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation focus-in-contract-bck
 * ----------------------------------------
 */
@-webkit-keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(2px);
            transform: translateZ(2px);
    -webkit-filter: blur(2px);
            filter: blur(2px);
    opacity: 0;
  }
}
@keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 2px;
    -webkit-transform: translateZ(2px);
            transform: translateZ(2px);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(2px);
            transform: translateZ(2px);
    -webkit-filter: blur(2px);
            filter: blur(2px);
    opacity: 0;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2019-5-23 9:32:44
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-blur-out
 * ----------------------------------------
 */
@-webkit-keyframes text-blur-out {
  0% {
    -webkit-filter: blur(0.01);
            filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
            filter: blur(12px) opacity(0%);
  }
}
@keyframes text-blur-out {
  0% {
    -webkit-filter: blur(0.01);
            filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
            filter: blur(12px) opacity(0%);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2019-5-23 9:58:1
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-out-expand-fwd-bottom
 * ----------------------------------------
 */
@-webkit-keyframes tracking-out-expand-fwd-bottom {
  0% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
  60% {
    opacity: 0.8;
  }
  100% {
    letter-spacing: 3px;
    -webkit-transform: translateZ(20px) translateY(10px);
            transform: translateZ(20px) translateY(10px);
    opacity: 0;
  }
}
@keyframes tracking-out-expand-fwd-bottom {
  0% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
  60% {
    opacity: 0.8;
  }
  100% {
    letter-spacing: 3px;
    -webkit-transform: translateZ(20px) translateY(10px);
            transform: translateZ(20px) translateY(10px);
    opacity: 0;
  }
}

.sound5 iframe{
    animation: sound5 1s;
}

@keyframes sound5 {

  10%, 90% {
    transform: translate3d(-10px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(10px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-10px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(10px, 0, 0);
  }
}

.sound6 iframe{
    animation: sound6 1s;
}

@keyframes sound6{
    0%{
        background-color: black;
    }
    50%{
        background-color: red;
    }
    100%{
        background-color: black;
    }
}

.sound7 iframe{
    animation: sound7 1s;
}

@keyframes sound7 {

  10%, 90% {
    transform: translate3d(-10px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(10px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-10px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(10px, 0, 0);
  }
}

.sound8 iframe{
    animation: sound8 1s;
}

@keyframes sound8{
    0%{
        background-color: black;
    }
    50%{
        background-color: red;
    }
    100%{
        background-color: black;
    }
}


.sound9 iframe{
    animation: sound9 42s;
}

@-webkit-keyframes sound9 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  5% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  10% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  15% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
    20% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  25% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  30% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  35% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
      40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  45% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
    50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  55% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  60% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
    62% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  64% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  66% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  68% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
    70% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  72% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
    74% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  76% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  78% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  80% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}
     82% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
      84% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  86% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  88% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
          90% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  92% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
    94% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  96% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  98% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

}

.sound11 iframe{
    animation: sound11 43s;
}

@-webkit-keyframes sound11 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  2% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  4% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  6% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
    8% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  10% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  12% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  14% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
      16% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  18% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
    20% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  22% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  24% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  26% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
          28% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  30% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
    32% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  34% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  36% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  38% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}
     40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  44% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  46% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  48% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
    50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  52% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  54% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  56% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
      58% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
    62% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  64% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  66% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  68% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
    70% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  72% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
    74% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  76% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  78% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  80% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}
     82% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
      84% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  86% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  88% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
          90% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  92% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
    94% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  96% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  98% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

}

.sound12 iframe{
    animation: sound12 12s;
}

@keyframes sound12{
    0%{
        background-color: blue;
    }
    20%{
        background-color: black;
    }
    40%{
        background-color: blue;
    }
    60%{
        background-color: blue;
    }
    80%{
        background-color: black;
    }
    100%{
        background-color: red;
    }
}

.sound14 iframe{
    -webkit-animation: fade-out 1s ease-out both;
    animation: fade-out 1s ease-out both;
}